.botao {
  background-color: #6278F7;
  width: 167px;
  margin: 40px 0;
  height: 80px;
  left: 255px;
  border-radius: 10px;
  border: none;
}

.botao p {
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
}